# Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Archivos de configuración local
*.ini
.env

# Archivos temporales
*.tmp
*.log
.DS_Store

# Archivos excel
src/excel/template/plantilla_transacciones(3).xlsx
src/excel/template/plantilla_transacciones(2).xlsx
